<div class="col-xs-10 col-xs-offset-1 about">
  <h1>About Us</h1>

  <div class="col-xs-12 col-sm-3">
    <%= image_tag 'me.PNG', class:'img-thumbnail about-img' %>
  </div>

  <div class="col-xs-12 col-sm-8 col-sm-offset-1 intro">
    <p>Celia is a 20-something developer living in New York. When she's not coding, she likes to snaggle with her two dogs, give them tons of attention and unsolicited kisses.</p>
  </div>

  <hr class="clear">
  <br />

  <div class="col-xs-12 col-sm-3">
    <%= image_tag 'chloe2.JPG', class:'img-thumbnail about-img' %>
  </div>

  <div class="col-xs-12 col-sm-8 col-sm-offset-1 intro">

    <p>Chloe is a yorkie originally from Madrid, Spain. She is 7 years old and has been living with Celia for five years. Some of her favorite things to do are sleeping, chowing on stinky bully sticks, and laying on the couch staring outside of the window. Her best friend is a pitbull whose name is Onyx. </p>
  </div>

<br />
<br />
<br />
<br />

</div>
