<div class="col-xs-10 col-xs-offset-1 about">
  <h1>About Splurty</h1>

  <p>Splurty was built by a lucky yorkie's humble servant - Celia</p>

  <div class="col-xs-12 col-sm-4">
    <%= image_tag 'chloe.JPG', class:'img-responsive' %>
  </div>

  <div class="col-xs-12 col-sm-7 col-sm-offset-1">
    <h2 class="text-center">Chloe Davis</h2>
    <br />
    <p>Chloe is a yorkie from Spain. She is 7 years old and some of her hobbies are sleeping and eating.</p>
  </div>

<br />
<br />
<br />
<br />


</div>
