@import 'https://fonts.googleapis.com/css?family=Pacifico';
@import "bootstrap-sprockets";
@import "bootstrap";

body {
  margin-bottom: 50px;
}

.clear {
  clear:both;
}

.main-area {
  margin: 0;
  background: url("yorkie.jpg") center center fixed;
  background-size: cover;
  height: 550px;
  color: white;
}

.container h1 {
  margin-top:0;
  padding-top: 30px;

}

.circle {
    font-weight:bold;
    font-style: italic;
    position: relative;
    border-radius: 100%;
    background: #f84342;
    border: 1px solid #F7F7F7;
    width: 80px;
    height: 80px;
    margin: 20px 10px 10px 10px;
    text-align: center;
    color: #FFF;
    font-size: 15px;
    line-height: 16px;
    cursor: pointer;
    transform:rotate(11deg);
    -ms-transform:rotate(11deg); /* IE 9 */
    -webkit-transform:rotate(11deg); /* Opera, Chrome, and Safari */
}

.circle:hover {
  background: #ff8a8a;
}

.slogan {
  font-family: 'fff_tusjbold';
  font-weight: bold;
  margin-top: 40px;
  font-size: 30px;
}

.about {
  font-family: 'Pacifico', cursive;
}

.about p {
  font-size: 20px;
}

.links {
  margin-top: 43px;
}

.links a {
  color:black;
  font-size: 25px;
  border-bottom: 1px solid #dfdfdf;
  font-family: 'fff_tusjbold';
  margin-left: 8px;
}

header {
  border-top: 9px solid #222222;
}

hr {
  clear:both;
  margin-bottom: 0;
  border:none;
}

h1 {
  font-family: 'Pacifico', cursive;
}

h2 {
  font-family: 'Pacifico', cursive;
}

.modal {
  font-family: 'Pacifico', cursive;
}

.footer-link {
  font-family: 'fff_tusjbold';
  font-size: 20px;
}

.next-quote {
  color: #f84342;
}

a:hover {
  text-decoration: none;
  color: #ff8a8a;
}

.made-by {
  font-size: 15px;
  font-style: italic;
}

.top {
  margin-top: 90px;
  font-size: 45px;
  font-family: 'fff_tusjbold';
}

::selection {
  background-color: #f84342;
}

@media (max-width: 750px){
  .made-by {
    text-align: left;
  }
}
